<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Standup!</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link  type="text/css" rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>

    <nav class="teal">
      <div class="nav-wrapper">
        <%= if logged_in?(@conn) do %>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <% end %>

        <a class="brand-logo" href="/">Stand up</a>
        <ul class="right">
          <%= if logged_in?(@conn) do %>
            <li>
              <%# <%= img_tag(current_user(@conn).credential.avatar, class: "circle user-avatar-sm ") %>
            </li>
            <li>
            <%#= link "Logout", to: auth_path(@conn, :delete), class: "waves-effect waves-blue btn-flat transparent white-text" %>

              <%= form_for @conn, auth_path(@conn, :delete), [method: :delete], fn _ -> %>
                    <%= submit "logout", class: "waves-effect waves-teal btn-flat transparent white-text " %>
              <% end %>
            </li>
          <% else %>
            <li><a href="/auth/identity">Sign in</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
<%= if logged_in?(@conn) do %>
<style>
    header, footer{
      padding-left: 300px;
    }

    nav{
      padding-left: 330px;
    }

    .container-main{
      padding-left: 330px;
      padding-right: 30px;
    }

    @media only screen and (max-width : 992px) {
      header, footer, nav {
        padding-left: 0;
        padding-right: 0;
      }
      .container-main{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
</style>

  <ul id="slide-out" class="side-nav fixed white">
    <li>
      <div class="user-view cyan" style="padding-bottom:15px;" >
      <div class="col vertical-align left" style="margin-right:10px;" >
          <%= unless is_nil(@current_user.photo) do %>
            <%= cl_image_tag(@current_user.photo.public_id, class: " materialboxed circle responsive-img valign profile-image", transforms: %{width: 300, height: 300, sign_url: true, quality: 100, crop: :fill, gravity: :face}) %>
          <% end %> 
      </div>
        <%# <a href="#!user"><img class="circle" src=""></a> %>
        <div class="valign col" style="position: relative;">
          <span class="white-text name text-grey-shadow" stye="margin-top: 6px!important;"><%= current_user_fullname(@conn) %></span>
          <span class="white-text email text-grey-shadow"><%= @current_user.credential.email %></span>
        </div>
      </div>
    </li>
    <li><a class="waves-effect waves-teal" href="/"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li class="">
      <ul class="collapsible collapsible-accordion">
        <li>
        <a class="collapsible-header waves-effect waves-teal" style="padding: 0 30px;"><i class="material-icons">list</i>To-Do</a>
          <div class="collapsible-body">
            <ul class="collapsible collapsible-accordion">
              <li><a class="waves-effect waves-teal" href="/organizations/<%= hd(@conn.assigns.current_user.organizations).id %>/to_dos" style="padding: 0 64px;"><i class="material-icons">face</i>Your</a></li>
              <li><a class="waves-effect waves-teal" href="/team_to_dos" style="padding: 0 64px;"><i class="material-icons">people</i>Your Team</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li><a class="waves-effect waves-teal" href="/organizations"><i class="material-icons">business</i>Organization</a></li>
      
    <%= if !!@conn.assigns.current_user.organizations do %>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-teal" style="padding: 0 32px;"><i class="material-icons">event_note</i>Work Status</a>
          <div class="collapsible-body">
            <ul class="collapsible collapsible-accordion">
              <%= for work_status_type <- hd(@conn.assigns.current_user.organizations).work_status_types do %>
                <li>          
                  <a class="collapsible-header waves-effect waves-teal" style="padding: 0 48px;"><i class="material-icons">event_note</i><%= work_status_type.name %> Work Status</a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a class="waves-effect waves-teal" href="/work_statuses?work_status_type_id=<%= work_status_type.id %>" style="padding: 0 64px;"><i class="material-icons">face</i>Your</a></li>
                      <li><a class="waves-effect waves-teal" href="/team_work_statuses?work_status_type_id=<%= work_status_type.id %>" style="padding: 0 64px;"><i class="material-icons">people</i>Your Team</a></li>
                    </ul>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <% end %>
      <div id="v-cal">
        <div class="vcal-header">
          <button class="vcal-btn" data-calendar-toggle="previous">
            <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
          </button>

          <div class="vcal-header__label" data-calendar-label="month">
            March 2017
          </div>

          <button class="vcal-btn" data-calendar-toggle="next">
            <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>
          </button>
        </div>

        <div class="vcal-week">
          <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
        </div>
        <div class="vcal-body" data-calendar-area="month"></div>
      </div>
  </ul>
<% else %>
<style>
    .container-main{
      padding-left: 200px;
      padding-right: 200px;
    }

     nav{
      padding-left: 30px;
      padding-right: 30px;
    }

    @media only screen and (max-width : 992px) {
      header, footer, nav {
        padding-left: 0;
        padding-right: 0;
      }
      .container-main{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
</style>
<% end %>
<%= if logged_in?(@conn) do %>
  <div>
<% else %>
  <div class="container">
<% end %>
    <main role="main">
    <div class="container-main">
      <%= if(get_flash(@conn, :info)) do %>
      <div class="card green lighten-5 alert" role="alert">
        <div class="card-content green-text">
          <p><%= get_flash(@conn, :info) %></p>
        </div>
      </div>
      <% end %>
      <%= if(get_flash(@conn, :error)) do %>
      <div class="card red lighten-5 alert" role="alert">
        <div class="card-content red-text">
          <p><%= get_flash(@conn, :error) %></p>
        </div>
      </div>
      <% end %>
      <br>
        <div id="pjax-container">
        <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

    </div> <!-- /container-main -->
  </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <%# <script src="https://raw.github.com/defunkt/jquery-pjax/master/jquery.pjax.js"></script> %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<%= if logged_in?(@conn) do %>
  <script>
    $(document).ready(function(){
       // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
           // edge: 'right', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
            onOpen: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is opened
            onClose: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is closed
          }
        );
        $('.collapsible').collapsible();
      vanillaCalendar.init();

    });
  </script>
<% end %>   
<script>
$(function () {

    $(document).pjax("a", "#pjax-container");
  //  $.pjax.defaults.pushRedirect = true;
});
  $(function(){
    $('.dropdown-button').dropdown();
  });

  $('#pjax-container')
//  .on('pjax:success', function() { //do before request success 
//    var xhr = new XMLHttpRequest();
//    var redirect = xhr.getResponseHeader('x-pjax-url');
//      if(redirect && !container.contents){
//          pjax({url: redirect, container: options.context})
//          return;
//      }
//    })
  .on('pjax:start', function() { //do before request start 
     // $('#pjax-container').fadeOut(1000).slideUp('slow');
    })
  .on('pjax:end',   function() { //after the request ends 
    //  $('#pjax-container').fadeIn(1000).slideDown('slow');
        $('.dropdown-button').dropdown();
        Materialize.updateTextFields();
        
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 4000);
        $('.datepicker').parent().children("label").addClass("active");
        $('.collapsible').collapsible();
    });
</script>
<script>
$(function(){
  $("#slide-out li").on('click', function(){
    $("#slide-out li").removeClass("active");
    $(this).addClass("active");
  });
});

  window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove(); 
      });
  }, 4000);

</script>
  </body>
</html>
