<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Standup!</title>
    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"  media="screen,projection"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>
  <body>

    <nav class="light-blue lighten-1">
      <div class="nav-wrapper container">
        <a class="brand-logo" href="/">Stand up</a>
        <ul class="right hide-on-med-and-down">
          <%= if logged_in?(@conn) do %>
            <li>
              <%# <%= img_tag(current_user(@conn).credential.avatar, class: "circle user-avatar-sm ") %>
            </li>
            <li>
            <%#= link "Logout", to: auth_path(@conn, :delete), class: "waves-effect waves-blue btn-flat transparent white-text" %>

              <%= form_for @conn, auth_path(@conn, :delete), [method: :delete], fn _ -> %>
                    <%= submit "logout", class: "waves-effect waves-blue btn-flat transparent white-text" %>
              <% end %>
            </li>
          <% else %>
            <li><a href="/auth/identity">Sign in</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
<%= if logged_in?(@conn) do %>
<style>
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
</style>
  <ul id="slide-out" class="sidenav sidenav-fixed white">
    <li>
      <div class="user-view" style="height: 290px;">
        <div class="background">
          <%= unless is_nil(@current_user.photo) do %>
            <%= cl_image_tag(@current_user.photo.public_id, class: " materialboxed responsive-img", transforms: %{width: 300, height: 300, sign_url: true, quality: 100}) %>
          <% end %> 
        </div>
        <%# <a href="#!user"><img class="circle" src=""></a> %>
        <div class="" style="margin-top:200px;">
          <a href="#!name"><span class="white-text name"><%= current_user_fullname(@conn) %></span></a>
          <a href="#!email"><span class="white-text email"><%= @current_user.credential.email %></span></a>
        </div>
      </div>
    </li>
    <li><a class="waves-effect" href="/organizations"><i class="material-icons">business</i>Organizations</a></li>
    <li class="m-b-10"><a class="waves-effect" href="/work_statuses"><i class="material-icons">business</i>Work Status</a></li>
      <div id="v-cal">
        <div class="vcal-header">
          <button class="vcal-btn" data-calendar-toggle="previous">
            <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
          </button>

          <div class="vcal-header__label" data-calendar-label="month">
            March 2017
          </div>

          <button class="vcal-btn" data-calendar-toggle="next">
            <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>
          </button>
        </div>

        <div class="vcal-week">
          <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
        </div>
        <div class="vcal-body" data-calendar-area="month"></div>
      </div>
    </li>
  </ul>
<% end %>

    <div class="container">
      <%= if(get_flash(@conn, :info)) do %>
      <div class="card green lighten-5" role="alert">
        <div class="card-content green-text">
          <p><%= get_flash(@conn, :info) %></p>
        </div>
      </div>
      <% end %>
      <%= if(get_flash(@conn, :error)) do %>
      <div class="card red lighten-5" role="alert">
        <div class="card-content red-text">
          <p><%= get_flash(@conn, :error) %></p>
        </div>
      </div>
      <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>

    <script>
    var vanillaCalendar = {
  month: document.querySelectorAll('[data-calendar-area="month"]')[0],
  next: document.querySelectorAll('[data-calendar-toggle="next"]')[0],
  previous: document.querySelectorAll('[data-calendar-toggle="previous"]')[0],
  label: document.querySelectorAll('[data-calendar-label="month"]')[0],
  activeDates: null,
  date: new Date(),
  todaysDate: new Date(),

  init: function() {
    this.date.setDate(1);
    this.createMonth();
    this.createListeners();
  },

  createListeners: function() {
    var _this = this;
    this.next.addEventListener("click", function() {
      _this.clearCalendar();
      var nextMonth = _this.date.getMonth() + 1;
      _this.date.setMonth(nextMonth);
      _this.createMonth();
    });
    // Clears the calendar and shows the previous month
    this.previous.addEventListener("click", function() {
      _this.clearCalendar();
      var prevMonth = _this.date.getMonth() - 1;
      _this.date.setMonth(prevMonth);
      _this.createMonth();
    });
  },

  createDay: function(num, day, year) {
    var newDay = document.createElement("div");
    var dateEl = document.createElement("span");
    dateEl.innerHTML = num;
    newDay.className = "vcal-date";
    newDay.setAttribute("data-calendar-date", this.date);

    // if it's the first day of the month
    if (num === 1) {
      if (day === 0) {
        newDay.style.marginLeft = (6 * 14.28) + "%";
      } else {
        newDay.style.marginLeft = ((day - 1) * 14.28) + "%";
      }
    }

    if (this.date.getTime() <= this.todaysDate.getTime() - 1) {
      newDay.classList.add("vcal-date--disabled");
    } else {
      newDay.classList.add("vcal-date--active");
      newDay.setAttribute("data-calendar-status", "active");
    }

    if (this.date.toString() === this.todaysDate.toString()) {
      newDay.classList.add("vcal-date--today");
    }

    newDay.appendChild(dateEl);
    this.month.appendChild(newDay);
  },

  dateClicked: function() {
    var _this = this;
    this.activeDates = document.querySelectorAll(
      '[data-calendar-status="active"]'
    );
    for (var i = 0; i < this.activeDates.length; i++) {
      this.activeDates[i].addEventListener("click", function(event) {
        var picked = document.querySelectorAll(
          '[data-calendar-label="picked"]'
        )[0];
        picked.innerHTML = this.dataset.calendarDate;
        _this.removeActiveClass();
        this.classList.add("vcal-date--selected");
      });
    }
  },

  createMonth: function() {
    var currentMonth = this.date.getMonth();
    while (this.date.getMonth() === currentMonth) {
      this.createDay(
        this.date.getDate(),
        this.date.getDay(),
        this.date.getFullYear()
      );
      this.date.setDate(this.date.getDate() + 1);
    }
    // while loop trips over and day is at 30/31, bring it back
    this.date.setDate(1);
    this.date.setMonth(this.date.getMonth() - 1);

    this.label.innerHTML =
      this.monthsAsString(this.date.getMonth()) + " " + this.date.getFullYear();
    this.dateClicked();
  },

  monthsAsString: function(monthIndex) {
    return [
      "January",
      "Febuary",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ][monthIndex];
  },

  clearCalendar: function() {
    vanillaCalendar.month.innerHTML = "";
  },

  removeActiveClass: function() {
    for (var i = 0; i < this.activeDates.length; i++) {
      this.activeDates[i].classList.remove("vcal-date--selected");
    }
  }
};
    </script>
<%= if logged_in?(@conn) do %>
    <script>
      window.addEventListener('load', function () {
        vanillaCalendar.init();
      })
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
<% end %>   
  </body>
</html>
