/* This file is for your main application css. */


.user-avatar-sm {
    width: 40px;
    height: 40px;
    border: 2px solid #769fd1;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.clear, .clear-10, .clear-15 {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}
.clear-10 {
  margin-bottom: 10px
}
.clear-15 {
  margin-bottom: 15px
}
.html-newline {
    white-space: pre-line;    
}

.help-block {
  color: red
}

.btn {
  margin-bottom:5px; 
}

.m-0 {
  margin:0px!important; 
}

.m-t-0 {
  margin-top:0px!important; 
}

.m-b-0 {
  margin-bottom:0px!important; 
}

.m-b-10 {
  margin-bottom:10px!important; 
}

.text-grey-shadow {
  text-shadow: rgb(49, 49, 48) 3px 0 10px;
}

.fab-relative{
  transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); 
  opacity: 0;
}

/* vanilla calendar css */