<h4>Show Domain</h4>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @domain.name %>
  </li>

</ul>

<span><%= link "Edit", to: organization_domain_path(@conn, :edit, @org_id, @domain), class: "btn" %></span>
<span><%= link "Back", to: organization_path(@conn, :show, @org_id), class: "btn" %></span>
