<div class="row marketing">
  <div class="col s12 m6">
    <%= if @task do %>
      <h4>Last task updated on:</h4>
      <h5><span class="small"><%= @task.on_date |>  Timex.Format.DateTime.Formatter.format!("%d %a, %B %Y", :strftime) %></span></h5>
    <% else %>
      <h5>No task created yet!</h5>
    <% end %>
    <br>
    <div><%= link "Create Task", to: task_path(@conn, :new), class: "btn" %></div>
  </div>
  <div class="col s12 m6">

  </div>
</div>
