<h2>Edit To do</h2>

<%= render "form.html", Map.put(assigns, :action, organization_to_do_path(@conn, :update, @to_do.organization)) %>

<span><%= link "Back", to: organization_to_do_path(@conn, :index, @to_do.organization) %></span>
