<h2>New To do</h2>

<%= render "form.html", Map.put(assigns, :action, organization_to_do_path(@conn, :create, @organization_id)) %>

<span><%= link "Back", to: organization_to_do_path(@conn, :index, @organization_id) %></span>
